<html ng-app="formExample">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<body>
<div ng-controller="ExampleController">
    <style>
.simple-form{

}
    </style>
    <form novalidate name="simpleform" class="simple-form">
        <p>Name:<br>
            <input type="text"  ng-model="username" required>

        </p>
        <p>E-mail:<br>
            <input type="email" name="useremail" ng-model="useremail" required>
        </p>
        Gender: <input type="radio" name="usergender"  ng-model="usergender" value="male" />male
        <input type="radio" name="usergender" ng-model="usergender" value="female" />female<br />
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit"   ng-disabled="!simpleform.$dirty || !simpleform.$valid" ng-click="simpleform.$valid ? update(user) :' ' value="Save"  />

    </form>
    <pre>current = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
    <pre>valid = {{ simpleform.$valid }}</pre>
    <pre>dirty = {{ simpleform.$dirty }}</pre>
</div>

<script>
    angular.module('formExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.master = {};
                $scope.update = function(user) {
                    $scope.master = angular.copy(user);
                };
                $scope.reset = function() {
                    $scope.user = angular.copy($scope.master);
                };
                $scope.reset();
            }]);
</script>
</body>
</html>

<!-- Exercise: Enable save button only when form becomes dirty

 -->